# Core HA files
.HA_VERSION
.cache
.cloud
.storage
deps
image
packages
tts
www
custom_components


# Sensitive files
google_calendars.yaml
secrets.yaml
*.db
*.db-shm
*.db-wal
*.log
*.token
ip_bans.yaml
media
google_service_account.json

# Blueprints
blueprints/automation/*
blueprints/script/*
!blueprints/automation/cascer1/
!blueprints/script/cascer1/
